---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='Javier Callejo'
  pageTitle='Javier Callejo | Portfolio'
  description='Video game developer, music producer, and 2D/3D artist.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Javier Callejo</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Javier Callejo
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Video Game Developer | Music Producer | 2D/3D Artist
            </p>
            <Button target={'_self'} href='/blog/'>
              View My Projects &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            About Me
          </h2>
          <p class='poppins'>
            I am a creative person seeking the fusion of music and visuals, primarily focused on achieving this through video game development. 
            I am always looking for new challenges to overcome in order to grow as an artist and as a person.
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
